---

# To install it manually.
# 1. Create the /etc/automysqlbackup directory.
# 2. Copy in the automysqlbackup.conf file.
# 3. Copy the automysqlbackup file to /usr/local/bin and make executable.
# 4. cp /etc/automysqlbackup/automysqlbackup.conf /etc/automysqlbackup/myserver.conf
# 5. Edit the /etc/automysqlbackup/myserver.conf file to customise your settings.

- name: Manual | Create the automysqlbackup directory
  file:
    path: "{{ automysqlbackup_folder }}"
    state: directory
    owner: "{{ automysqlbackup_user }}"
    group: "{{ automysqlbackup_group }}"
    mode: 0775
    recurse: no
  become: true
  tags: [automysqlbackup]

- name: Manual | Get automysqlbackup from github
  git:
    repo: "{{ automysqlbackup_repo }}"
    dest: "{{ automysqlbackup_folder }}"
    version: "{{ automysqlbackup_repo_branch }}"
    accept_hostkey: "yes"
    force: no
    update: no
  become: true
  tags: [automysqlbackup]

- name: Manual | Link the automysqlbackup file to bin
  file:
    state: link
    src: "{{ automysqlbackup_folder }}/automysqlbackup"
    dest: "{{ automysqlbackup_binpath }}"
    mode: 0750
  become: true
  tags: [automysqlbackup]

- name: Manual | Set the configuration
  template:
    src: automysqlbackup_v3.conf.j2
    dest: "{{ automysqlbackup_folder }}/automysqlbackup.conf"
    backup: yes
    mode: 0640
    owner: "{{ automysqlbackup_user }}"
    group: "{{ automysqlbackup_group }}"
  no_log: True
  become: true
  tags: [automysqlbackup]

- name: Manual | Automysqlbackup daily cronjob for backup
  cron:
    name: "Automysqlbackup - Backup DB"
    hour: "{{ automysqlbackup_cron_hour }}"
    minute: "{{ automysqlbackup_cron_minute }}"
    job: "{{ automysqlbackup_binpath }} > /dev/null"
    cron_file: automysqlbackup
    user: "{{ automysqlbackup_user }}"
  become: true
  tags: [automysqlbackup]
